# Build artifacts
backend/Amazon.API/bin
obj/
out/

# Rider-specific files
.idea/
*.sln.iml

# User-specific files
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.cache

# Rider workspace settings
*.DotSettings